.wb-comp{
    display: flex;
    margin: 48px 0;
}

.wb-comp .left,.wb-comp .right{
    width: 50%;
    display: flex;
    align-items: center;
}

.wb-comp .left{
    justify-content: center;
}

.wb-comp .right{
    flex-direction: column;
    align-items: flex-start;
    font-size: 36px;
    color: snow;
    padding-left: 80px;
}

.wb-comp .right .heading{
    width: 70%;
}

.wb-comp .right .heading h2{
    margin: 0 0 20px 0;
}

.wb-comp .right span{
    display: block;
}

.wb-comp .right .emobutton{
    background-color: rgb(16,16,16);
    color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid snow;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.5s ease;
    font-weight: 600;
}

.wb-comp .right .emobutton:hover{
    background-color: snow;
    color: black;
    cursor: pointer;
}

.wb-comp .left .webcam{
    height: 350px;
    border-radius: 20px;
}